<template>
  <div style="text-align: center">

    <div class="cover">
        <img class="plane" src="../../assets/plane.png">
    </div>

    <div class="fixBox">
      <h3>Solution 1</h3>
      <div class="info"><span>!</span> <p>Book a ticket to belize city and escape</p></div>

        <Ticket
          from="Germany"
          to="Belize City"
          price="535€"
          link="https://www.skyscanner.net/transport/flights/de/bzea/?adults=1&children=0&adultsv2=1&childrenv2=&infants=0&cabinclass=economy&rtn=0&preferdirects=false&preferflexible=false&outboundaltsenabled=false&inboundaltsenabled=false&originentityid=29475381&destinationentityid=27539666"/>

      <h3>Solution 2</h3>
      <div class="info"><span>!</span> <p>Ask the DataGard team to help</p></div>
      <a class="btnDataGuard" href="/">Get help from <img src="../../assets/logo.svg"></a>

    </div>

  </div>
</template>
<script>
  import Ticket from './ticket'
  export default {
    components:{
      Ticket
    }
  }
</script>
<style lang="sass">

  .mainLayout
    background: url("../../assets/airlinebg.jpg") #2e3136 center top !important
    background-size: cover !important
    overflow: hidden
  .cover
    top: 40px
    position: absolute
    width: 100%
    text-align: center
  .plane
    z-index: 4
    width: 400px
    height: 161px
    margin: 0 auto
    left: -50px
    top: 30px
    @media screen and (max-width: 800px)
      width: 300px
      height: 120px

  .btnDataGuard
    background: #df5a4b
    background-image: -moz-linear-gradient( 0deg, rgb(229,121,103) 0%, rgb(220,70,57) 100%)
    background-image: -webkit-linear-gradient( 0deg, rgb(229,121,103) 0%, rgb(220,70,57) 100%)
    background-image: -ms-linear-gradient( 0deg, rgb(229,121,103) 0%, rgb(220,70,57) 100%)
    box-shadow: 0 15px 16px 0 rgba(33, 34, 39, 0.74)
    display: block
    margin: 30px auto
    width: 230px
    text-align: center
    padding: 15px 20px
    font-size: 15px
    border-radius: 4px
    cursor: pointer
    text-decoration: none
    color: rgba(255,255,255,0.6)
    img
      display: inline-block
      margin: 0 5px
    &:hover
      background: #c44338

  .fixBox
    padding-top: 200px
    width: 400px
    margin: 0 auto
    text-align: left
    @media screen and (max-width: 800px)
      width: 100%
      padding-top: 170px
    right: 0
    z-index: 4
    color: #fff

    h3
      font-size: 20px
      font-weight: bold
    p
      text-align: center
      font-size: 25px
      line-height: 1

  .info
    text-align: left
    span
      display: inline-block
      font-size: 15px
      background: #ffffff
      width: 20px
      height: 20px
      border-radius: 100px
      margin-right: 10px
      text-align: center
      color: #000
      line-height: 1.3
      font-weight: bold
    p
      font-size: 15px
      text-align: left
      display: inline-block

</style>
