<template>
  <div class="ticket">
    <div class="from">{{from}}</div>
    <div class="to">{{to}}</div>
    <div class="price"><span>FROM</span> {{price}} <span>></span></div>
    <a target="_blank" class="booknow" :href="link">BOOK NOW</a>
  </div>
</template>
<script>
  export default {
    props:["from","to","price","link"]
  }
</script>
<style lang="sass">
  .ticket
    position: relative
    background: url("../../assets/ticket.png")
    background-size: cover
    margin: 10px auto
    width: 350px
    height: 102px
    font-weight: bold
    font-size: 17px
    color: #000
    .from
      position: absolute
      top: 12px
      left: 14px

    .to
      position: absolute
      top: 12px
      right: 20px

    .price
      position: absolute
      bottom: 20px
      left: 20px
      font-size: 20px
      > span
          color: #999

  .booknow
    background: #ecebc1
    width: 150px
    position: absolute
    right: 20px
    bottom: 12px
    color: #000
    text-decoration: none
    padding: 7px 10px
    border-radius: 5px
    font-size: 15px
    text-align: center

</style>
