<template>
  <div>
    <div class="showPrice">
      <div class="price">135,450,000</div>
      <div class="info">
        <p>Die Bußgelder der DSGVO betragen bis zu 20 Millionen Euro oder bis zu 4 %des Jahresumsatzes. Wie diese Bußgelder berechnet werden ist aber bisher kaum bekannt.</p>
        <p>Wir haben anhand der Vorgaben der Datenschutzkonferenz einen Bußgeldrechner erstellt. Damit können Sie keine verbindlichen Bußgelder ausrechnen, die konkreten Berechnungen sind um Detail viel komplexer.
          Der Rechner liefert aber eine erste Einschätzung für die mögliche Höhe von DSGVO-Bußgeldern.</p>
      </div>
    </div>
    <div class="calculatorBox">

      <q-scroll-area style="height: 550px; ">

      <ul>
        <li v-for="item in dataList">
          <h2>{{item.title}}</h2>
          <b v-html="item.info"></b>

          <q-slider
            v-model="item.value"
            :min="item.min"
            :max="item.max"
            snap
            label
            color="red"
          />

        </li>
      </ul>

      </q-scroll-area>

    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        dataList: [
          {
            qkey:'m1',
            title: "1. Ermittlung Ihres Tagessatzes",
            info: "Jahresumsatz Ihres Unternehmens (EUR)",
            min:0,
            max:500000,
            value:0,
          },
          {
            qkey:'m2',
            title: "2. Ermittlung des Schweregrades",
            info: "Schweregrad",
            min:0,
            max:500,
            value:0,
          },
          {
            qkey:'m3',
            title: "3. Ermittlung Ihres eigenen Verschuldens",
            info: "Grad des Verschuldens",
            min:0,
            max:200,
            value:0,
          },
          {
            qkey:'m4',
            title: "4. Ermittlung des Aufschlages",
            info: "Gab es in der Vergangenheit schon einmal ähnliche Datenschutzverstöße bei Ihnen? Wenn ja, wie oft? <br><br> \n" +
              "    <small>0% - Noch nie</small> <br>" +
              "    <small>50% - 1 mal</small> <br>" +
              "    <small>150% - 2 mal</small> <br>" +
              "    <small>300% - 3 mal oder mehr</small>",
            min:0,
            max:100,
            value:0,
          }
        ]
      }
    },
    mounted() {

      let _list = {};
      this.dataList.forEach(function (n) {
        _list[n.qkey.toString()] = n.max;
      });

      let formul = "m1 + m2"
      let formulAry = formul.split(' ');
      let _formul = "";
      formulAry.forEach(function (rw) {
        _formul += ((_list[rw])?_list[rw]:rw)+" ";
      });

      console.log(eval(_formul));
    },
  }
</script>

<style lang="sass">
  .showPrice
    width: 250px
    height: 530px
    background: rgb(72,76,83)
    background: linear-gradient(196deg, rgba(72,76,83,0.5) 0%, rgba(43,44,50,1) 100%)
    box-shadow: -1px -1px 0 0 rgba(255,255,255,0.15),3px 4px 4px 2px rgba(0,0,0,0.1)
    border-radius: 3px
    float: left
    margin: 10px 0 0 4px
    @media screen and (max-width: 800px)
      height: 105px
      position: fixed
      z-index: 44
      left: 0
      margin: 0
      padding: 0
      border-radius: 0
      background: rgb(72,76,83)
      background: linear-gradient(196deg, rgba(72,76,83,0.5) 0%, rgba(43,44,50,1) 100%)
      border-bottom: 1px solid rgba(255,255,255,0.01)
      top: 0
      width: 100%

    .info
      color: #93989f
      font-size: 13px
      margin: 0 23px
      text-align: justify
      @media screen and (max-width: 800px)
        display: none


    .price
      font-family: Blacklisted,serif
      color: #e44b43
      font-size: 40px
      text-align: center
      margin: 70px 0 30px 0
      position: relative
      @media screen and (max-width: 800px)
        margin: 40px 0 0 0
        font-size: 38px


      &:before
        content: "Mögliches Bußgeld"
        position: absolute
        font-family: Arial, serif
        font-size: 15px
        color: #fff
        top: -30px

  .calculatorBox
    float: left
    width: calc(100% - 280px)
    border-radius: 4px
    padding: 0 10px
    min-height: 570px
    margin: 10px 0 0 20px
    @media screen and (max-width: 800px)
      float: none
      width: 100%
      border-radius: 0
      margin: 0
      padding-top: 110px

    h2
      margin: 0
      padding: 0
      font-size: 18px
      line-height: 1.4
      color: #93989f
    b
      padding: 0
      color: #fff
      display: block
    ul
      margin: 0 0 0 14px
      li
        margin-bottom: 10px

</style>
