<template>
  <div style="text-align: center">

    <div class="fixBox">
      <img class="logo" src="../assets/logo.svg"/>
      <p class="info">Receive a quote immediately. We would also be happy to advise you by telephone.</p>

    </div>

  </div>
</template>
<style lang="sass">
  .logo
    height: 30px
    @media screen and (max-width: 800px)
      height: 25px

  .fixBox
    padding-top: 80px
    width: 400px
    margin: 0 auto
    text-align: left
    @media screen and (max-width: 800px)
      width: 100%
      padding-top: 50px
    right: 0
    z-index: 4
    color: #fff
    .info
      margin: 20px 0
      font-size: 17px


</style>
