<template>
  <div class="copyright">
    <p>POWER BY</p>
      <img src="../assets/logo.svg">
  </div>
</template>
<style lang="sass">
  .copyright
    opacity: 0.3
    position: absolute
    left: 15px
    bottom: 30px
    cursor: pointer
    a
      outline: none
      &:hover,&:active
        outline: none
    img
      position: absolute
      bottom: -14px
    p
      font-family: Arial, serif
      font-size: 10px
      color: rgba(255,255,255,0.6)
</style>
