<template>
  <div class="swichLanuage">
    <ul>
      <li v-on:click="swhichLang(n)" v-for="n in dataList"><img :src="require('../assets/'+n+'.png')"></li>
    </ul>
  </div>
</template>
<script>
  export default {
    data(){
      return{
        lang:"uk",
        dataList:["uk","germany"]
      }
    },
    methods:{
      swhichLang(lang){
        let first = lang;
        this.dataList.sort(function(x,y){ return x == first ? -1 : y == first ? 1 : 0; });
      }
    },
  }
</script>
<style lang="sass">
  .swichLanuage
    cursor: pointer
    width: 30px
    height: 25px
    position: absolute
    z-index: 99
    right: 10px
    top: 10px
    overflow: hidden
    &:hover
      height: auto
    ul
      text-align: center
      li
        img
          width: 24px


</style>
