<template>
  <div style="text-align: center">

    <div class="cover">

      <img alt="erch" src="../assets/erch.png" class="erch"/>

      <q-img
        img-class="mars"
        transition="fade"
        src="../assets/mars.png"
        @load="alert(1)"
        ratio="1"
        class="rounded-borders"
      />

    </div>
    <div class="fixBox">
      <h3>Solution 1</h3>
      <h2 class="glitch" data-text="TRIP TO MARS">TRIP TO MARS</h2>
      <p>with SpaceX / $200,000</p>
      <a href="/" class="bookBtn">Book Now</a>
      <h4>or</h4>
      <h3>Solution 2</h3>

      <a class="btnDataGuard" href="/">Get help from <img src="../assets/logo.svg"></a>

    </div>

  </div>
</template>
<style lang="sass">
  .mainLayout
    background: rgb(25,25,25) !important
    background: linear-gradient(150deg, rgba(25,25,25,1) 0%, rgba(43,46,51,1) 100%) !important
  .cover
    top: 40px
    position: absolute
    width: 100%
    text-align: center
  .mars
    position: absolute
    z-index: 4
    width: 400px
    height: 400px
    margin: 0 auto
    left: -50px
    top: 30px
    @media screen and (max-width: 800px)
      width: 300px
      height: 300px

  .erch
    position: absolute
    z-index: 1
    width: 71px
    height: 200px
    left: -10px
    top: 140px


  .bookBtn
    display: block
    border: 2px solid #fff392
    color: #fff392
    font-weight: bold
    text-decoration: none
    padding: 6px 10px
    width: 130px
    text-align: center
    margin: 30px auto 0
    left: 0
    right: 0
    border-radius: 4px

  .btnDataGuard
    background: #df5a4b
    background-image: -moz-linear-gradient( 0deg, rgb(229,121,103) 0%, rgb(220,70,57) 100%)
    background-image: -webkit-linear-gradient( 0deg, rgb(229,121,103) 0%, rgb(220,70,57) 100%)
    background-image: -ms-linear-gradient( 0deg, rgb(229,121,103) 0%, rgb(220,70,57) 100%)
    box-shadow: 0px 15px 16px 0px rgba(33, 34, 39, 0.74)
    display: block
    margin: 30px auto
    width: 230px
    text-align: center
    padding: 15px 20px
    font-size: 15px
    border-radius: 4px
    cursor: pointer
    text-decoration: none
    color: rgba(255,255,255,0.6)
    img
      display: inline-block
      margin: 0 5px
    &:hover
      background: #c44338


  .fixBox
    padding-top: 80px
    position: absolute
    width: 100%
    @media screen and (max-width: 800px)
      width: 100%
    right: 0
    text-align: left
    z-index: 4
    color: #fff
    h2
      font-family: Blacklisted, serif
      font-size: 55px
      line-height: 1.5
      padding: 0
      width: 400px
      margin: 0 auto
      text-align: center
      color: #fff392
      @media screen and (max-width: 800px)
        font-size: 33px
        width: 300px

    h3
      font-size: 20px
      font-weight: bold
      text-align: center
    p
      text-align: center
      font-size: 25px
      line-height: 1
    h4
      text-align: center
      display: block
      margin: 20px 0


  .glitch
    color: white
    font-size: 55px
    @media screen and (max-width: 800px)
      font-size: 33px
    position: relative
    width: 400px
    @media screen and (max-width: 800px)
      width: 300px
    margin: 0 auto

  @keyframes noise-anim
    $steps: 20
    @for $i from 0 through $steps
      #{percentage($i*(1/$steps))}
        $top: random(100)
        $bottom: random(101 - $top)
        clip-path: inset(#{$top}% 0 #{$bottom}%  0)

  .glitch
    &:after
      content: attr(data-text)
      position: absolute
      left: 44px
      @media screen and (max-width: 800px)
        left: 54px
      text-shadow: -1px 0 red
      top: 0
      color: #fff392
      overflow: hidden
      animation: noise-anim 2s infinite linear alternate-reverse


  @keyframes noise-anim-2
    $steps: 20
    @for $i from 0 through $steps
      #{percentage($i*(1/$steps))}
        $top: random(100)
        $bottom: random(101 - $top)
        clip-path: inset(#{$top}% 0 #{$bottom}%  0)

  .glitch
    &:before
      content: attr(data-text)
      position: absolute
      left: 40px
      @media screen and (max-width: 800px)
        left: 54px
      text-shadow: 1px 0 blue
      top: 0
      color: white
      overflow: hidden
      animation: noise-anim-2 15s infinite linear alternate-reverse

</style>
