* {
  box-sizing: border-box; }

ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

@font-face {
  font-family: "Blacklisted";
  src: url("../font/Blacklisted.ttf") format("truetype"); }
@font-face {
  font-family: "Galvji";
  src: url("../font/Galvji.ttf") format("truetype"); }
body {
  background: #4a4f55; }
  body .mainLayout {
    position: relative;
    background: #2f363d;
    background: url("../assets/bg.jpg");
    background-size: cover;
    min-height: 600px;
    width: 900px;
    max-width: 100%;
    margin: 40px auto;
    border-radius: 4px;
    padding: 4px 10px;
    box-shadow: 3px 5px 7px 2px rgba(0, 0, 0, 0.1); }
    @media screen and (max-width: 1000px) {
      body .mainLayout {
        margin: 0 auto;
        border-radius: 0;
        min-height: 100vh;
        box-shadow: none; } }

/*# sourceMappingURL=app.css.map */
