<template>
  <div id="q-app">
    <div class="mainLayout">
      <Language/>
      <router-view />
      <Copyright/>
    </div>
  </div>
</template>

<script>
import Language from 'components/language'
import Copyright from 'components/copyright'
export default {
  name: 'App',
  components:{
    Language,
    Copyright
  }
}
</script>
