<template>
  <div>
    <Airline/>
  </div>
</template>

<script>

import Airline from 'components/Airline/index'
export default {
  name: 'MainLayout',
  components: {
    Airline,
  },
  data () {
    return {
    }
  }
}
</script>
