<template>
  <div>
    <contactForm/>
  </div>
</template>

<script>

  import contactForm from 'components/contactForm'
  export default {
    name: 'MainLayout',
    components: {
      contactForm,
    },
    data () {
      return {
      }
    }
  }
</script>
