<template>
  <div>
    <Calculator/>
  </div>
</template>

<script>

import Calculator from '../components/calculator'
export default {
  name: 'MainLayout',
  components: {
    Calculator
  },
  data () {
    return {
    }
  }
}
</script>
