<template>
  <div>
    <Mars/>
  </div>
</template>

<script>

import Mars from '../components/mars'
export default {
  name: 'MainLayout',
  components: {
    Mars,
  },
  data () {
    return {
    }
  }
}
</script>
